[target]
board = "soy"
thread_id = "REPLACE_WITH_THREAD_ID"

[timing]
cooldown_seconds = 70  # seconds between posts

[source]
soybooru_search_query = "variant:soyak"
seen_images_file = "/tmp/soyduel_seen_images.json"

[browser]
firefox_binary = "/snap/firefox/8585/usr/lib/firefox/firefox"
geckodriver_binary = "/tmp/geckodriver"
display = ":11"

[process]
pid_file = "/tmp/soyduel.pid"
log_file = "/tmp/soyduel_loop.log"


[remote_browser]
enabled = true
webdriver_url = ""
vnc_host = "REPLACE_WITH_VNC_HOST"
vnc_port = 5900
vnc_password = ""


[remote_browser.vnc_fallback]
